<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create your very own team</title>
</head>
<body>
<form th:action="@{~/bgc/team/create}" th:object="${teamToCreate}" method="post">
    <input type="text" th:field="*{name}" placeholder="Name"><br>
    <input type="text" th:field="*{location}" placeholder="Location">
    <input type="text" th:field="*{about}" placeholder="Write something about the team here..."><br>
    <!--    Is your team private? <input type="checkbox" th:field="*{privateTeam}"><br>-->
    <input type="hidden" name="teamAdminId" th:value="1"/>
    <button type="submit">CREATE</button>
</form>
</body>
</html>