<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team dashboard</title>
</head>
<body>
<div>
    <p th:text="${team.name}"/>
    <p th:text="${team.location}"/>
    <p th:text="${team.about}"/>
</div>
<div>
    <section class="meeting-section">
        <h2>Meetings</h2>
        <div class="meeting-section-header">
            Meetings
        </div>
        <div class="tiles" th:each="meeting:${meetings}">
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-fire-simple-light"></i>
                    <h3>
                        <span th:text="${meeting.time}"/>
                        <span th:text="${meeting.location}"/>
                        <span th:text="${meeting.message}"/>
                        <a th:if="${meeting.poll != null}"
                           th:href="@{/bgc/team/{teamId}/meeting/{meetingId}/details(teamId=${team.id}, meetingId=${meeting.id})}">
                            You can vote for a game here</a>
                    </h3>
                </div>
            </article>
        </div>
    </section>
</div>
</body>
</html>