<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team control panel</title>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<div>
    <h5>Invite new member</h5>
    <form th:action="@{~/bgc/team/invite}" method="post">
        <input type="text" name="username" placeholder="Enter username here">
        <input type="hidden" name="teamId" th:value="${team.id}">
        <button type="submit">SEND INVITE</button>
    </form>
</div>
<div>
    <h5>Team management</h5>
    <form th:action="@{/bgc/team/{teamId}/edit(teamId=${team.id})}" method="post" th:object="${team}">
        <label for="loc">Location</label>
        <input type="text" id="loc" th:value="${team.location}" th:text="${team.location}" th:field="*{location}"/>
        <label for="about">About</label>
        <input type="text" id="about" th:value="${team.about}" th:text="${team.about}" th:field="*{about}"/>
        <button type="submit">EDIT</button>
    </form>
</div>
</body>
</html>