<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding new game</title>
</head>
<body>
<form th:action="@{~/bgc/game/search_local}" method="post">
    <input type="text" name="title" placeholder="Title"><br>
    <button type="submit" th:formaction="@{~/bgc/game/search_local}">SEARCH LOCAL DB</button>
    <button type="submit" th:formaction="@{~/bgc/game/search_api}">SEARCH BGG API</button>
</form>
<a th:href="@{~/bgc/game/add_by_hand}">ADD GAME MANUALLY</a>
</body>
</html>