<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<div class="app-body">
    <!--    <div th:insert="fragments/sidebar.html :: sidebar"></div>-->
    <div class="app-body-main-content">
        <section class="actions-section">
            <h2>Actions</h2>
            <div class="tiles">
                <article class="tile">
                    <div class="tile-header">
                        <i class="ph-lightning-light"></i>
                    </div>
                    <a th:href="@{/bgc/game/add}">
                        <span>Add game</span>
                    </a>
                </article>
                <article class="tile">
                    <div class="tile-header">
                        <i class="ph-lightning-light"></i>
                    </div>
                    <a th:href="@{/bgc/team/create}">
                        <span>Create your own team</span>
                    </a>
                </article>
            </div>
        </section>
    </div>
    <div class="app-body-invitebar">
        <section class="invite-section">
            <h2>Invites</h2>
            <div class="invites" th:each="invite:${invites}">
                <div class="invite">
                    <div class="card green">
                        <span>You've been invited to:</span>
                        <span th:text="${invite.teamName}"/>
                    </div>
                    <div class="invite-details">
                        <form action="" method="post">
                            <input type="hidden" name="inviteId" th:value="${invite.id}">
                            <button type="submit" th:formaction="@{~/bgc/invite/accept}">ACCEPT</button>
                            <button type="submit" th:formaction="@{~/bgc/invite/reject}">REJECT</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br>
<br>
<div th:insert="~{fragments/footer.html :: footer}"></div>
</body>
</html>