<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<div class="app-body">
    <!--    <div th:insert="fragments/sidebar.html :: sidebar"></div>-->
    <div class="app-body-main-content">
        <section class="meeting-section">
            <h2>Upcoming meetings</h2>
            <div class="meeting-section-header">
                Upcoming meetings
            </div>
            <div class="tiles">
                <article class="tile">
                    <div class="tile-header">
                        <i class="ph-lightning-light"></i>
                        <h3>
                            <span>PLACEHOLDER</span>
                            <span>PLACEHOLDER</span>
                        </h3>
                    </div>
                    <a href="#">
                        <span>Go to meeting</span>
                        <span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
                    </a>
                </article>
                <article class="tile">
                    <div class="tile-header">
                        <i class="ph-fire-simple-light"></i>
                        <h3>
                            <span>PLACEHOLDER</span>
                            <span>PLACEHOLDER</span>
                        </h3>
                    </div>
                    <a href="#">
                        <span>Go to meeting</span>
                        <span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
                    </a>
                </article>
                <article class="tile">
                    <div class="tile-header">
                        <i class="ph-file-light"></i>
                        <h3>
                            <span>PLACEHOLDER</span>
                            <span>PLACEHOLDER</span>
                        </h3>
                    </div>
                    <a href="#">
                        <span>Go to meeting</span>
                        <span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
                    </a>
                </article>
            </div>
            <div class="meeting-section-footer">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </section>
        <section class="game-section">
            <div class="game-section-header">
                <h2>Latest games</h2>
                <div class="filter-options">
                    <p>Filter selected: </p>
                    <button class="icon-button">
                        <i class="ph-funnel"></i>
                    </button>
                    <button class="icon-button">
                        <i class="ph-plus"></i>
                    </button>
                </div>
            </div>
            <div class="games">
                <th:block th:each="gameTitle:${ownedGamesSimple}">
                    <div class="game">
                        <div class="game-logo">
                            <img src="" alt="game thumbnail goes here"/>
                        </div>
                        <div class="game-details">
                            <p th:text="${gameTitle}"/>
                        </div>
                        <div class="game-number">
                            PLACEHOLDER
                        </div>
                    </div>
                </th:block>
            </div>
        </section>
    </div>
    <div class="app-body-expansionbar">
        <section class="expansion-section">
            <h2>Right sidebar</h2>
            <div class="expansions">
                <div class="expansion">
                    <div class="card green">
                        <span>12345</span>
                        <span>PLACEHOLDER</span>
                    </div>
                    <div class="expansion-details">
                        <h3>PLACEHOLDER</h3>
                        <div>
                            <span>PLACEHOLDER</span>
                            <button class="icon-button">
                                <i class="ph-caret-right-bold"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="expansion">
                    <div class="card olive">
                        <span>12345</span>
                        <span>PLACEHOLDER</span>
                    </div>
                    <div class="expansion-details">
                        <h3>PLACEHOLDER</h3>
                        <div>
                            <span>12345</span>
                            <button class="icon-button">
                                <i class="ph-caret-right-bold"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="expansion">
                    <div class="card gray">
                        <span>12345</span>
                        <span>12345</span>
                    </div>
                    <div class="expansion-details">
                        <h3>PLACEHOLDER</h3>
                        <div>
                            <span>PLACEHOLDER</span>
                            <button class="icon-button">
                                <i class="ph-caret-right-bold"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expansion-section-footer">
                <button class="save-button">
                    Save
                </button>
                <button class="settings-button">
                    <i class="ph-gear"></i>
                    <span>More settings</span>
                </button>
            </div>
        </section>
    </div>
</div>
<div th:insert="~{fragments/footer.html :: footer}"></div>
</body>
</html>