<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your game collection</title>
</head>
<body>
<th:block th:each="game:${owned}">
    <div>
        <ul>
            <li th:text="${game.title}"/>
            <li th:text="${game.description}"/>
            <li th:text="${game.minPlayers}"/>
            <li th:text="${game.maxPlayers}"/>
            <li th:text="${game.playtime}"/>
            <li th:text="${game.released}"/>
        </ul>
    </div>
    <br><br>
</th:block>
</body>
</html>