<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your game collection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<div class="app-body">
    <th:block th:each="game:${owned}">
        <div class="alternating-colors">
            <ol>
                <li th:text="${game.title}"/>
                <li th:text="${game.description}"/>
                <li th:text="${game.minPlayers}"/>
                <li th:text="${game.maxPlayers}"/>
                <li th:text="${game.playtime}"/>
                <li th:text="${game.released}"/>
            </ol>
        </div>
    </th:block>
</div>
</body>
</html>