<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your game collection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<div class="app-body">
    <th:block th:each="game:${owned}">
        <div>
            <ol>
                <li>
                    <dl>
                        <dt>Title</dt>
                        <dd th:text="${game.title}"/>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Description</dt>
                        <dd th:text="${game.description}"/>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Min. players</dt>
                        <dd th:text="${game.minPlayers}"/>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Max players</dt>
                        <dd th:text="${game.maxPlayers}"/>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Playtime</dt>
                        <dd th:text="${game.playtime}"/>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Released</dt>
                        <dd th:text="${game.released}"/>
                    </dl>
                </li>
            </ol>
        </div>
    </th:block>
</div>
</body>
</html>