<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="app-header">
    <div class="app-header-logo">
        <div class="logo">
				<span class="logo-icon">
					<img src="" alt="LOGO"/>
				</span>
            <h1 class="logo-title">
                <span>BoardGameChap</span>
            </h1>
        </div>
    </div>
    <div class="app-header-navigation">
        <div class="tabs">
            <a href="#" class="active">
                Overview
            </a>
            <a th:href="@{~/bgc/game/owned}">
                Games
            </a>
            <a th:href="@{~/bgc/joined_teams}">
                Teams
            </a>
        </div>
    </div>
    <div class="app-header-actions">
        <button class="user-profile" th:formaction="@{~/bgc/account}">
            <span th:text="${#authentication.name}"/>
            <!--            <span>-->
            <!--					<img src="" alt="profile pic goes here"/>-->
            <!--				</span>-->
        </button>
        <form th:action="@{/logout}" method="post">
            <button type="submit">LOGOUT</button>
        </form>
    </div>
</header>
</body>
</html>