<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="header" class="app-header">
    <div class="app-header-logo">
        <div class="logo">
				<span class="logo-icon">
					<img src="/images/logo.png" alt="LOGO"/>
				</span>
            <h1 class="logo-title">
                <span>BoardGameChap</span>
            </h1>
        </div>
    </div>
    <div class="app-header-navigation">
        <div class="tabs">
            <a th:href="@{/bgc}" class="active">
                Overview
            </a>
            <a th:href="@{/bgc/game/owned}" class="active">
                Games
            </a>
            <a th:href="@{/bgc/joined_teams}" class="active">
                Teams
            </a>
        </div>
    </div>
    <div class="app-header-actions">
        <form th:action="@{~/bgc/account}" method="get">
            <button class="user-profile" th:formaction="@{/bgc/account}">
                <span th:text="${#authentication.name}"/>
                <span><img src="/images/user-logo.webp" alt="profile pic goes here"/></span>
            </button>
            <button type="submit" th:formaction="@{/logout}">LOGOUT</button>
        </form>
    </div>
</header>
</body>
</html>