<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="app-body-navigation" th:fragment="sidebar">
    <nav class="navigation">
        <a href="#">
            <i class="ph-browsers"></i>
            <span>Dashboard</span>
        </a>
        <a href="#">
            <i class="ph-check-square"></i>
            <span>Games</span>
        </a>
        <a href="#">
            <i class="ph-swap"></i>
            <span>Groups</span>
        </a>
    </nav>
</div>
</body>
</html>